apiVersion: v1
kind: ServiceAccount
metadata:
  name: delta-sharing-server
  namespace: delta-share
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::111111111111:role/DeltaShareAssumeRoleWebIdentity